body {
    background-color: darkgray;
}

canvas {
    border: 1px solid black;
    border-radius: 10px;
    text-align: center;
    background-color: white;
}

.game {
    width: 640px;
    margin: 0 auto;
}